.vs
Library
ProjectSettings
Assembly-CSharp.csproj
README.md
Test project.CSharp.csproj
Test project.CSharp.Editor.csproj
Test project.sln
Test project.userprefs
unitySolitaire
unitySolitaire.pub
Temp
